# Individual Assignment 1
## CSE 40467 / 60467

**Instructions:**
*   You must complete the empty cells and run the code.
*   Gradescope will check your code and output responses.
*   It's an individual assignment, so please do not share your responses with other classmates. Gradescope will evaluate similarity of responses.
* If you have any questions. Please post them on Canvas or reach out to the TAs.

In [ ]:
import pandas as pd
import csv
import numpy as np
import seaborn as sns
import string
import matplotlib.pyplot as plt

from collections import Counter
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
pd.options.mode.chained_assignment = None

## The Dataset

We will the ["Jobs NYC Posting"](https://catalog.data.gov/dataset/nyc-jobs) dataset. This dataset contains current job postings available on the City of New Yorkâ€™s official jobs site (http://www.nyc.gov/html/careers/html/search/search.shtml).

Load the database. Assign the dataframe as `jobs`

Print the dataframe `jobs`

How many observations does the database have?

Check how many values in each column are unique. Check out the following [command](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nunique.html).

The dataframe has many duplicates. There is one particular column that will help you identify which observations are duplicated. Sort the values according to that column

Print the dataframe and check how the data. What do you see?

Remove the duplicates based on this column.

Calculate the updated number of observations.

Why did we have too many duplicates? Write your answer below.

In [ ]:
### MANUAL RESPONSE

Calculate the number of unique values per column.

Check the number of missing

Remove all the features that have more than 50% missing values

Check that the columns were deleted. Print the columns of the dataframe as a list.

## Checking the data

Check the types of columns

Identify the categorical columns and assign them as the `categorical_columns` list

Print the columns

Assign all the NA values for the categorical columns as `` (i.e., empty string)

Identify the numeric columns and assign them as the `numeric_columns` list

Print the variable

One variable should not be here since it's only used as an identifier. Remove it.

Calculate the dataframe's metrics using `describe()`

Which jobs have a "salary range from" equal to zero? Filter those jobs and print the `Job ID`, `Civil Service Title`, and `Salary Range To`

Calculate the 25% percentile of `Salary Range To` and assign it to `jobs_range_to_q25`

Print the variable

Usign `Salary Range To`, identify how many job postings this database has for each `Civil Service Title` lower than percentile.

Calculate the 75% percentile of `Salary Range To` and assign it to `jobs_range_to_q75`

Print the variable

Using `Salary Range To`, identify how many job postings this database has for each `Civil Service Title` higher than the 75% percentile.

Calculate the histogram of the numeric variables. Do not forget to filter using the variable `numeric_columns`

Identify three outliers according to `# Of Positions`

How many jobs are Full-Time or Part-Time?

Check the frequency of full-time jobs according to `Civil Service Title`

Check the frequency of part-time jobs according to `Civil Service Title`.

What is the most frequent Division/Work unit?

What are the top-10 job categories?

Save the top-10 job categories as a list using the variable `most_solicited_jobs`

Print the list

## Pre-processing

Many jobs have residency requirements. Print the frequency using `value_counts()`

We will create a new column called `Residency Required`. This column will be 1 if the substring "is generally required" is in the description. Else, it will be 0.

Print the number of jobs that we identified with a residency requirement using `value_counts()`.

Check the most frequent number of minimal qualification requirements using `value_counts`

Many jobs are described based on degrees. Create a new variable called `required_education_bs`. This variable will be 1 if the word `baccalaureate` is present in the description. Otherwise, it will be zero.

What is the percentage of jobs that require a baccalaureate degree?

Following the same logic, create the column `required_education_ms` to flag if the description has the word `master's`.

What is the percentage of jobs that require a master's degree?

Following the same logic, create the column `required_education_phd` to flag if the description has the word `doctorate`.

What is the percentage of jobs that require a doctoral degree?

## Text Analysis

In [ ]:
stop_words = list(text.ENGLISH_STOP_WORDS)

Define the variable `most_common_100_words` which has the 100 most frequent words from the column "Minimum Qual Requirements".

Print the variable `most_common_100_words`

Load the following function. It will use the TF-IDF algorithm to detect the most relevant words given a set of documents.

In [ ]:
def get_tfidf_top_features(documents,n_top=100):
  tfidf_vectorizer = TfidfVectorizer(max_df=0.95, min_df=2, stop_words='english')
  tfidf = tfidf_vectorizer.fit_transform(documents)
  importance = np.argsort(np.asarray(tfidf.sum(axis=0)).ravel())[::-1]
  tfidf_feature_names = np.array(tfidf_vectorizer.get_feature_names_out())
  return list(tfidf_feature_names[importance[:n_top]])

Create the variable `most_tfidf_100_words` and identify the most relevant 100 words of the column "Minimum Qual Requirements" using the previous function.

Print the words that are included in `most_important_100_words` and not in `most_common_100_words`.

Now, print the word which words are included in `most_common_100_words` and not in `most_important_100_words`.

Based on the unique words that each list has, which variable has the most meaningful words? Write down the name of the variable below

In [ ]:
# Manual response

Run the `get_tfidf_top_features` function to find the most important words for `Job Description`

## Visualization

Create a `boxplot` using seaborn using the "Salary Range To" data. Classify the observataions based on the most frequent Job Categories.

To make the x labels readable, use the command `plt.xticks(rotation=90)`

Hint: Use the variable `most_solicited_jobs` to filter.

We will plot the number of jobs based on the `Agency`
First, we need to compute the number of jobs in each agency.
Create a new dataframe `agency_frequency` that has two columns: the agency and the number of posted jobs in that agency.

Print the `agency_frequency` dataframe

Now, create a pie chart using this [documentation page](https://matplotlib.org/stable/gallery/pie_and_polar_charts/pie_features.html).

Check also the `autopct` parameter to print the percentages automatically.

Using the seaborn library, plot a heatmap with the correlations of `jobs`. You can use directly `jobs.corr()`.

Check the documentation [here](https://seaborn.pydata.org/generated/seaborn.heatmap.html)